process.cache = 'deep'

nextflowVersion = '>=20.0'

import java.time.*
Date now = new Date() 

params {
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

report {
    enabled = true
    file = "pipeline_info/${params.timestamp}_report.html"
}

timeline {
	enabled = true
	file = "pipeline_info/${params.timestamp}_timeline.html"
}

executor {
    executor = 'slurm'
    queueSize = 5000 // optimize on 1, 10, 100 plates worth of wells 96, 960, 9,600. Max job number per user on QUEST is 5k
    submitRateLimit = 10
}

singularity {
    pullTimeout = '45 min'
    enabled = true
    autoMounts = true
    cacheDir = "/projects/b1059/singularity" // this is QUEST specific still
    
}

process {
    container = 'andersenlab/nemascan:20220407173056db3227' // still need to make cp docker img

    withLabel: cellpro {
        container = 'cellprofiler/cellprofiler:4.2.1'
        memory = { 8.GB * task.attempt } // 8.GB working for all dauerProtocol3
        time = { 30.min * task.attempt }

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }
}