process.cache = 'deep'

nextflowVersion = '>=20.0'

import java.time.*
Date now = new Date() 

params {
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

report {
    enabled = true
    file = "pipeline_info/${params.timestamp}_report.html"
}

timeline {
	enabled = true
	file = "pipeline_info/${params.timestamp}_timeline.html"
}

executor {
    executor = 'slurm'
    queueSize = 50
    submitRateLimit = '10sec'
}

singularity {
            pullTimeout = '45 min'
            enabled = true
            autoMounts = true
            cacheDir = "/projects/b1059/singularity" // this is QUEST specific still
}

process {
    executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 3:00:00 -e errlog.txt'
    //errorStrategy='retry'
    //maxRetries=3
    
    withLabel: R {
        queue = 'genomicsguestA'
        clusterOptions = '-A b1042 -t 01:30:00 -e errlog.txt'
        memory = { 8.GB * task.attempt } // can add back multipler later
        container = 'andersenlab/sv-nf:202301182015'
    }
    withLabel: dell {
        container = 'szarate/delly:v0.8.3'
        queue = 'genomicsguestA'
        cpus = 1 // optimize
        memory = { 8.GB * task.attempt } // can add back multipler later
        time = 2.h
    }
    withLabel: dell_big {
        container = 'szarate/delly:v0.8.3'
        queue = 'genomicsguestA'
        cpus = 1 // optimize
        clusterOptions = '-A b1042'
        memory = { 30.GB * task.attempt } // can add back multipler later. 16 is enough - added more for cb delly all
        time = { 240.min * task.attempt } // 45 min should be good - was too small for cb delly all
         
    }
    withName: genotype_sites {
        clusterOptions = '-A b1042'
        container = 'szarate/delly:v0.8.3'
        queue = 'genomicsguestA'
        cpus = 1 // optimize
        memory = 10.GB // can add back multipler later
        time = 11.h
        errorStrategy='skip'
    }
    withName: proc_genos_all {
        clusterOptions = '-A b1042'
        container = 'szarate/delly:v0.8.3'
        queue = 'genomicsguestA'
        cpus = 1 // optimize
        memory = 10.GB // can add back multipler later
        time = 20.h
    }
    withLabel: merge {
        clusterOptions = '-A b1042'
        container = 'szarate/delly:v0.8.3'
        queue = 'genomicsguestA'
        cpus = 1 // optimize
        memory = 2.GB // can add back multipler later
        time = 3.h
    }
}