process.cache = 'deep'

nextflowVersion = '>=20.0'

import java.time.*
Date now = new Date() 

params {
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

report {
    enabled = true
    file = "pipeline_info/${params.timestamp}_report.html"
}

timeline {
	enabled = true
	file = "pipeline_info/${params.timestamp}_timeline.html"
}

executor {
    executor = 'slurm'
    queueSize = 500
    submitRateLimit = '10sec'
}

singularity {
            pullTimeout = '45 min'
            enabled = true
            autoMounts = true
            cacheDir = "/projects/b1059/singularity" // this is QUEST specific still
}

process {
    withLabel: R {
        queue = 'genomicsguestA'
        clusterOptions = '-A b1042 -t 04:00:00 -e errlog.txt'
        container = 'tcrombie/sv-nf:202301182015' // sv-nf docker image v4 
        errorStrategy='terminate'
    }
    withLabel: dell {
        container = 'szarate/delly:v0.8.3'
        queue = 'genomicsguestA'
        cpus = 1 // optimize
        clusterOptions = '-A b1042'
        memory = { 8.GB } // can add back multipler later
        time = { 15.min * task.attempt }
    }
    withLabel: dell_big {
        container = 'szarate/delly:v0.8.3'
        queue = 'genomicsguestA'
        cpus = 4 // optimize
        clusterOptions = '-A b1042'
        memory = { 32.GB } // can add back multipler later
        time = { 15.min * task.attempt }
    }
}